.header {
  background-color: skyblue;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 55px;
  font-weight: 900;
  /* box-shadow: 0 0 5px 0 #555; */
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoImage {
  width: 200px;
  height: 125px;
  margin: 15px;
  margin-right: 35px;
}

