
body{
  background-color: #ace7ff;
}

form{
  height: 550px;
  width: 400px;
  background-color: rgba(49, 195, 253, 0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 550px;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 20px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Noto Sans KR', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 800;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
span{
  display: flex;
  height: 50px;
  width: 95%;
  background-color: rgb(234, 252, 255);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  flex-wrap: wrap;
}
::placeholder{
  color: #474747;
}
button{
  margin-top: 50px;
  width: 95%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.myprofileinfo{
  background-color: rgb(234, 252, 255);
}