.loginContainer {
  text-align: center;
  background-color: powderblue;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  opacity: 0.8;
  font-weight: 850;
  font-size: 30px;
}

input[type='text'],
input[type='password'] {
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
  outline: none;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 350px;
  height: 50px;
}

.login {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 35px;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex: 1;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.loginBtnContainer {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  }

.signupBtnContainerLogin {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  }

  .loginBtn {
    border: 3px solid #eee;
    width: 10%;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    font-weight: 850;
    font-size: 1.3rem;
  }

  .signupBtnLogin {
    border: 3px solid #eee;
    width: 8%;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    font-weight: 850;
    font-size: 1rem;
  }