.nomovieContainer {
    background-color: powderblue;
    text-align: center;
}

.mainpage_nomovie {
    text-align: center;
    background-color: powderblue;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
    font-weight: 850;
    font-size: 30px;
  }

.nomovie {
    text-align: center;
    background-color: powderblue;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
    font-weight: 850;
    font-size: 30px;
}

.addmovieBtnContainer {
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    
}

.addmovieBtn {
    border: 3px solid #eee;
    background-color: #eee;
    width: 10%;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    font-weight: 850;
    font-size: 1.3rem;
    }