body {
    background-color: #ace7ff;
  }
  
  div {
    box-sizing: border-box;
  }
  
  .card {
    margin-top: 50px;
    padding: 15px;
    width: 400px;
    height: 550px;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s;
    transition-delay: 0.4s;
    position: relative;
    overflow: hidden;
  
  }
  
  .card:hover {
    width: 360px;
    height: 600px;
  }
  
  img {
    width: 250px;
    height: 350px;
  
  }